.kids-home {
    display: grid;  
    grid-row: content-s/content-e;
    grid-column: s/e;
    justify-items: center;
  

    grid-template-rows: 50px [title-s] 50px [ title-e little-s] 1fr [little-e big-s ].5fr [big-e description-s] .5fr [description-e];
    grid-template-columns: .2fr [s] 1fr [e] .2fr;
    grid-row-gap: 40px;
 
    
    h1 {
        grid-row: title-s/title-e;
        grid-column: s/e;
        font-weight: 600;
        font-size: 40px;
        text-decoration: underline;
    }
    
    
    &__images { 
        grid-row: little-s/little-e;
        grid-column: s/e;
        


        
        img {
            height: 300px;
            width: 300px;
            padding: 40px;
            
        }
    }

    &__main-image {
        grid-row: big-s/big-e;
        grid-column: s/e;

        img {
            height: 400px;
            width: 800px
        }
    }

    &__main-description {
        grid-row: description-s/description-e;
        grid-column: s/e;
        font-size: 20px;
        justify-self: center;
        width: 900px; 
        height: 390px;
        border: .5px solid #ffdb4d;
        align-self: center;
        margin-bottom: 20px;
    }

    p {
        padding: 20px;
    }
}
